*{
    font-family:'Raleway', sans-serif;
    margin:0px;
    padding:0px;
    list-style-type: none;
    border:none;
    text-decoration:none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

#todo{
    width:90%;
    margin:5% auto;
}

#logo img{
    border: 0px !important; 
    float:left!important; 
}
#datosEmpresa p{
    margin:0px;
}
#datosPersona{
    background-color: #efe8e0;
    border-radius: 10px;
}

